body
{
  font-family: sans-serif;
  width: 1200px;
}

.noticia
{
    width: 1200px;
    background-color: salmon;
    height: 100%;
    display: inline-flex;
}

.noticia-individual
{
    width: 49%;
    height: 100%;
    display: inline-flex;
}

.imagen
{
    float: left; 
    margin-top:30px;
    margin-bottom:30px;
    margin-left: 30px;
    margin-right: 30px;
}

.noticia-titulo
{
    text-align: left;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

.noticia-parrafo
{
    text-align: justify;
    margin: 10px;
}

.noticia-link
{
    font-size: 10px;
    float: right;
    margin: 10px;
}
.servicios{
    background-color: rgb(179, 164, 101);
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.footer{
    background-color: rgb(179, 152, 101);
}

.header{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 1200px;
}
.barra-navegacion{
    background-color: black;
    display: flex;
    align-items: center;
    height: 100px;
    justify-content: center;
}

h1 {
    color:white;
}

.titulo {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.contenedor-menu{
    width: 50%;
}

.menu-principal{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
}

.menu-principal__item{
    justify-content: center;
}

.menu-principal__item > a {
    color: silver;
    text-decoration: none;
}
.menu-principal__item > a:hover{
    text-decoration: underline;
    color: white;
    text-decoration: none;
}

.banner{
    width: 1200px;
}

#team {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.ant-tarjeta {
    padding: 12px;
    text-align: center;
    margin: 8px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    background: beige;
}

.ant-descripcion {
    text-align: justify;
  justify-content: center;
}

.footer {
    display: flex;
    justify-content: center;
}

.footer-desc, .contact {
    width: 50%;
}